<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departamentos - Baja</title>
</head>
<body>
<a href="alta">ALTA</a>
<a href="baja">BAJA</a>
<a href="modificar">MODIFICACION</a>
<br/><br/><br/><br/><br/><br>

</body>
      <form method="post" action="delete">
        {% csrf_token %}
            <div data-role="page" id="create">
            <div data-role="header"><h2>Borrar Departamento</h2></div>
            <div data-role="content">
                <fieldset style ="border: 1px solid black; padding: 20px; border-radius=10px color:dimgrey;">
                    <legend>Introduzca los datos</legend>
                        <form>
                            <input type="text" name="txtNumero" placeholder="Numero" list="ids"/>
                                <datalist id="ids">
                                    {% for num in ids %}
                                      <option value="{{num}}"></option>
                                    {% endfor %}
                                </datalist><br/>
                            <br/><br/>
                            <button type="submit">Borrar</button>
    </form></html>