<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departamentos - Modificacion</title>
</head>

</body>
      <form method="post" action="modify">
        {% csrf_token %}
            <div data-role="header"><h2>Modificar Departamento</h2></div>
            <div data-role="content">
                <fieldset style ="border: 3px solid black; padding: 20px; border-radius=10px color:black;">
                    <legend>Introduzca los datos</legend>
                            <input type="text" name="txtNumero" placeholder="Numero" list="ids"/>
                                <datalist id="ids">
                                    {% for num in ids %}
                                      <option value="{{num}}"></option>
                                    {% endfor %}
                                </datalist><br/>
                            <input type="text" name="txtLocalidad" placeholder="Nueva Localidad " list="locs"/><br/>
                                <datalist id="locs">
                                    {% for loc in locs %}
                                      <option value="{{loc}}"></option>
                                    {% endfor %}
                                </datalist>
                            <br/><br/>
                            <button type="submit">Modificar</button>
                </fieldset>
            <br/><br/>
            </div>
        </form>
    <div style="text-align:center;">
    <button onclick="window.location.href='index';">Listado</button>
    <button onclick="window.location.href='alta';">Alta</button>
    <button onclick="window.location.href='baja';">Baja</button>
    <button onclick="window.location.href='modificar';">Modificar</button>
    </div>
</body>
</html>