<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <div data-role="page" id="create">
            <div data-role="header"><h2>Nuevo Departamento</h2></div>
            <div data-role="content">
                <fieldset style ="border: 1px solid black; padding: 20px; border-radius=10px color:dimgrey;">
                    <legend>Introduzca los datos</legend>
                        <form>
                            <input type="text" name="txtNumero" placeholder="Numero" list="ids"/><br/>
                                <datalist id="ids">
                                    {% for num in ids %}
                                      <option> value="{{num}}"</option>
                                    {% endfor %}
                                </datalist>
                            <input type="text" name="txtNombre" placeholder="Nombre" list="names"/><br/>
                                <datalist id="names">
                                    {% for name in names %}
                                      <option> value="{{name}}"</option>
                                    {% endfor %}
                                </datalist>
                            <input type="text" name="txtLocalidad" placeholder="Localidad " list="locs"/><br/>
                                <datalist id="locs">
                                    {% for loc in locs %}
                                      <option> value="{{loc}}"</option>
                                    {% endfor %}
                                </datalist>
                            <br/><br/>
                            <button type="submit">Guardar</button>
                        </form>
                  </fieldset>
</body>
</html>